.footer {
    padding: 1rem 0;
}

.item-footer {
    width: 250px;
}

.flex-footer {
    justify-content: space-evenly;
}

hr {
    margin: 8px 0 8px 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-close {
    color: gray;
}