<section class="page-section footer">
    <div class="container">
        <div class="flex-container flex-footer">
            <div class="flex-item item-footer">
                <h3>Where I Service</h3>
                <hr>
                <ul>
                    <li>Louisville, KY</li>
                    <li>Colorado Springs, CO</li>
                </ul>

            </div>
            <div class="flex-item item-footer">
                <h3>My Social Media</h3>
                <hr>
                <ul>
                    <li><a href="http://www.linkedin.com/in/hacuna100">LinkedIn</a></li>
                    <li><a href="https://github.com/hacuna100">Github</a></li>
                </ul>
            </div>
            <div class="flex-item item-footer">
                <h3>Contact</h3>
                <hr>
                <ul>
                    <li><a href="mailto: hacuna100@gmail.com">hacuna100&#64;gmail.com</a></li>
                    <li><a href="tel:5024365746">+1 (502) 436 - 5746</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center footer-close">
            HERMILO ACUNA ● 2024
        </div>
    </div>
</section>