<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md text-center profile-img">
                <img src="../../assets/img/person.png" alt="Profile Picture">
            </div>
            <div class="col-md text-white">
                <h1 class="display-4">Hermilo Acuna</h1>
                <h6>Full-Stack Web Developer / Designer</h6>
                <br>
                <p>I'm a competent and detail-oriented software developer working in full stack web development through procedural 
                    and object-oriented programming languages. I also run a freelance company under <strong>Domus Solutions</strong> 
                    where I provide web design and product delivery to small buisnesses for their front-end customers and employees.
                </p>
                <ul class="theme-list">
                    <li>From: Kentucky, US</li>
                    <li>Lives In: Colorado Springs, CO</li>
                </ul>
                <button type="button" class="btn btn-light"><div class="cv-btn"><strong>Download CV</strong></div></button>
            </div>
        </div>
    </div>
</section>