<section>
    <div class="page-section">
        <div class="container">
            <div class="text-center badge-frmt">
                <div class="badge badge-subhead">Portfolio</div>
              </div>
        </div>
        <h1 class="text-center fw-normal wow fadeInUp">See my work</h1>
        <div class="text-center filterable-button py-3 wow fadeInUp" data-toggle="selected">
          <button class="btn btn-theme-outline selected" data-filter="*">All</button>
          <button class="btn btn-theme-outline" data-filter=".angular">Angular</button>
        </div>
        <div class="container flex-container wrap">
            <div class="flex-item">1</div>
            <div class="flex-item">2</div>
            <div class="flex-item">3</div>
            <div class="flex-item">4</div>
        </div>
    </div>
</section>