<section id="services">
    <div class="page-section">
        <div class="container">
          <div class="text-center badge-frmt">
            <div class="badge badge-subhead">Services</div>
          </div>
          <h1 class="text-center display-4">What can I do?</h1>
          <div class="row mt-4">
            <div class="col-md-7 col-lg-5 col-xl-4 cap-align">
              <div class="text-center">
                <div class="icon">
                  <i class="bi bi-laptop"></i>
                </div>
                <div class="">
                  <h4 class="text-orange">Web Development</h4>
                  <p>Crafting digital success for companies of any size! Explore a tailored web development service designed to elevate your online presence.
                    From responsive websites to seamless e-commerce solutions, I have yoru digital journey covered. Let's build a powerful online identity for your business together!</p>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-5 col-xl-4 cap-align">
              <div class="text-center">
                <div class="icon">
                  <i class="bi bi-bezier2"></i>
                </div>
                <div class="">
                  <h4 class="text-orange">Database Design</h4>
                  <p>Unlock the potential of your business data with a specialized database design service for small enterprises. I can tailor database solutions to fit your unique needs,
                    ensuring efficient data management and seamless accessibilty for your employees and customers. Lets design the perfect
                    database infrastructure for your business!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-5 col-xl-4 cap-align">
              <div class="text-center">
                <div class="icon">
                  <i class="bi bi-book"></i>
                </div>
                <div class="">
                  <h4 class="text-orange">Technical Writing</h4>
                  <p>Elevate your software solutions with precision and clarity! Tailor your technical writing for companies seeking comprehensive documentation. From user manuals to
                    API guides, I can ensure your software's functionality is communicated seamlessly. Let my techincal writing expertise amplify your software success!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

